Saved/StagedBuilds/
Saved/Temp/
Saved/Logs/
Saved/EditorCooked/
Saved/Autosaves/
Saved/Cooked/
Saved/Crashes/
Saved/Config/
Saved/Config/Windows/
Saved/Config/CrashReportClient/UE4CC-Windows-630F470B47076EFDC09B879FC08134D7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-630F470B47076EFDC09B879FC08134D7/CrashReportClient.ini
